:root {
  --prime-color: #354d6d;
  --secondary-color: #306b6e;
  --accent-color: #a6ba52;
  --white: #fff;
  --black: #393939;
}

/* fonts */

h1 {
  font-family: "Copperplate", "PT Sans", "Montserrat";
  font-size: 48.83px;
  color: var(--black);
  padding: 20px 0 50px 0;
  text-transform: uppercase;
}

h2,
h3,
nav a {
  font-family: "Copperplate", "PT Sans", "Montserrat";
  font-weight: bold;
  color: var(--black);
}

h2 {
  font-size: 39.06px;
  padding: 80px 0 80px 0;
  text-align: center;
}

h3,
nav a,
.footer-links a {
  font-size: 25px;
}

p,
.footer-links a,
span {
  font-family: "Open Sans Condensed", "Open Sans", "Montserrat",
    "Source Sans Pro", "PT Sans";
  font-size: 20px;
  color: var(--black);
  padding-bottom: 2em;
}

span {
  padding-bottom: 0;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  max-width: 70%;
  margin: auto;
}

/* global */

body {
  margin: 0;
}

aside {
  background-color: var(--secondary-color);
  height: fit-content;
  overflow: hidden;
}

.colored-theme {
  background-color: var(--secondary-color);
  padding-bottom: 80px;
}

.white-theme {
  padding-bottom: 80px;
}

.white-theme img {
  border: 5px solid var(--prime-color);
}

.colored-theme-alt {
  background-color: var(--secondary-color);
  padding: 80px 0;
}

.white-theme-alt {
  padding: 50px 0;
}

.colored-theme p,
.colored-theme h2,
.colored-theme h3 {
  color: var(--white);
}

.colored-theme-alt p,
.colored-theme-alt h2,
.colored-theme-alt h3 {
  color: var(--white);
}

.flex-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.main-header {
  text-align: center;
  margin: auto;
}

.main-header img {
  justify-content: center;
  width: 70px;
  height: auto;
  margin-top: 80px;
}

/* header */

header {
  background-color: var(--white);
  height: 50px;
}

#logo-header {
  position: absolute;
  left: 0%;
  height: 47px;
}

#starclub-icon {
  position: absolute;
  right: 0%;
  height: 47px;
}

/* Navigation */

a img {
  height: 50px;
  width: auto;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

nav li {
  display: flex;
  flex-direction: column;
  padding: 8px 10%;
  transition-duration: 5s;
}

i {
  text-align: center;
  color: var(--white);
  padding-top: 3px;
}

/* footer */

footer {
  background-color: var(--secondary-color);
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

#logo-bottom {
  background-color: var(--white);
  height: 50px;
}

#logo-bottom img {
  height: 48px;
  width: auto;
}

/* Index */

.museum-image img {
  width: 100%;
  border-bottom: 15px solid var(--secondary-color);
}

.news-container,
.image-container {
  box-sizing: border-box;
  background-color: var(--white);
  margin: 30px;
  transition-duration: 3s;
}

.image-container {
  border: 5px solid var(--white);
  border-bottom: 2px solid var(--white);
  margin: 100px 30px 100px 30px;
  background-color: var(--white);
}

.image-container img {
  width: 100%;
  height: auto;
}

.news-container {
  width: fit-content;
  height: fit-content;
  border-left: 5px solid var(--accent-color);
  box-shadow: 0 0 5px var(--black);
}

.news-container p,
.news-container h3 {
  margin: 30px 40px;
}

.news-container a {
  text-decoration: none;
}

.news-container img {
  display: flex;
  width: 100%;
}

.news-container h3 {
  border-bottom: 2px solid var(--secondary-color);
}

#news-cards p {
  font-size: 16px;
}

.asset-container {
  display: flex;
  justify-content: center;
  margin: 100px;
  transition-duration: 2s;
}

.asset-container img {
  width: 320px;
  height: auto;
}

/* Events */

.flex-image {
  text-align: center;
}

.flex-image img {
  width: 50%;
  height: auto;
  border: 5px solid var(--white);
}

.flex-image p {
  text-align: left;
}

#alt-color-border {
  border: solid 5px var(--secondary-color);
}

/* Exhibitions */

.banner img {
  width: 100%;
  border-top: 5px solid var(--white);
  border-bottom: 5px solid var(--white);
}

/* Visit */

.hours {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid var(--secondary-color);
  padding: 5px;
}

. hours p {
  font-weight: bold;
}

/* Children Star Club */

#science-art {
  border-radius: 50%;
  width: 30%;
}

/* hover states */

nav li:hover {
  background-color: var(--prime-color);
}

.news-container:hover,
.asset-container:hover {
  transform: scale(1.05);
}

.image-container:hover {
  transform: scale(1.1);
}

/*media queries */

@media only screen and (max-width: 960px) {
  .flex-container {
    flex-direction: column;
  }

  .museum-image img {
    max-height: 50vh;
    width: 100%;
  }

  .image-container,
  .news-container {
    margin: 20px;
  }

  nav a,
  .footer-links a {
    font-size: 20px;
  }

  a img {
    height: 36px;
    width: auto;
  }

  header {
    height: 36px;
  }
}

@media only screen and (max-width: 720px) {
  .hours {
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
  }

  .flex-image img {
    width: 90vw;
  }

  h1,
  h2,
  h3,
  p {
    max-width: 85%;
    margin: auto;
  }

  h2 {
    padding: 70px 0 30px 0;
  }
}
